NEXT_PUBLIC_WHATSAPP_NUMBER=5492995201981
NEXT_PUBLIC_EMAIL_CONTACTO=administracion@reinnova.com.ar
NEXT_PUBLIC_SITE_URL=https://www.reinnovagroup.com.ar
RESEND_API_KEY=
RESEND_FROM_EMAIL=Reinnova Diagnostico <administracion@reinnova.com.ar>
ADMIN_EMAILS=cmontesino@reinnova.com.ar,vfernandez@reinnova.com.ar
ADMIN_TEMP_PASSWORD=demo
ADMIN_SESSION_TTL_SECONDS=86400
ADMIN_PASSWORD_PEPPER=
